---
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import H2 from "../../components/H2.astro";
import H3 from "../../components/H3.astro";
import ContentContainer from "../../components/ContentContainer.astro";
import CreativeBox from "../../components/competitions/CreativeBox.astro";
import Pill from "../../components/competitions/Pill.astro";

const boxStyles =
  "p-6 rounded-3xl sm:mx-auto sm:rounded-2xl w-full min-h-[150px] sm:min-h-[200px]";
---

<Layout title="The Gathering - Kreative konkurranser">
  <Main>
    <ContentContainer>
      <H1 text="Kreative konkurranser" />
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      >
        <div class="sm:col-start-1 sm:col-span-2 sm:row-span-2">
          <section class="mb-6 prose prose-strong:text-white text-white">
            <H2 text="Hvem takler presset best?" />
            <p>
              Test sjansene dine for å vinne flotte premier i konkurranser innen
              cosplay, musikk, video, grafikk og mer!
            </p>
            <H3>Praktisk informasjon</H3>
            <p>
              <Pill text="Vi er i gang!" color="yellow" class="mr-2" />
              Enkelte av konkurransene starter allerede nå med kvalifiseringer eller
              påmelding. Så om du er interessert i å delta, sjekk ut <a
                href="https://competitions.gathering.org/"
                target="_blank">konkurransesidene</a
              > i dag for oppdatert og utfyllende informasjon.
            </p>
            <p>
              <Pill text="Eget utstyr" color="orange" class="mr-2" />
              Alle de kreative konkurransene krever at du har eget utstyr, som maskin,
              tegnebrett, symaskin, kamera eller annet.
            </p>
            <p>
              <Pill text="I skipet" color="blue" class="mr-2" />
              Alle de kreative konkurransene gjennomføres og kåres i skipet, derfor
              må du være på plass på The Gathering for å kunne delta
            </p>
          </section>
        </div>
        <CreativeBox
          title="Real-time Demo"
          class={boxStyles}
          prizes={[]}
          category="utvikling"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="Hand-drawn Graphics"
          class={boxStyles}
          prizes={[]}
          category="grafikk"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="TG:Hack"
          class={`${boxStyles} sm:col-span-2`}
          prizes={[]}
          category="diverse"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="Freestyle Music"
          class={boxStyles}
          prizes={[]}
          category="musikk"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="Game Jam"
          class={boxStyles}
          prizes={[]}
          category="utvikling"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="Fast Music"
          class={boxStyles}
          prizes={[]}
          category="musikk"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="Small HTML"
          class={boxStyles}
          prizes={[]}
          category="utvikling"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="Fast Graphics"
          class={boxStyles}
          prizes={[]}
          category="grafikk"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="Pixel Art Graphics"
          class={boxStyles}
          prizes={[]}
          category="grafikk"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="10 minute DJ Mix Video"
          class={boxStyles}
          prizes={[]}
          category="musikk"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="Themed Photo"
          class={boxStyles}
          prizes={[]}
          category="foto"
        >
          <p></p>
        </CreativeBox>

        <CreativeBox
          title="K-Pop Music"
          class={boxStyles}
          prizes={[]}
          category="musikk"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="Creative Tooling"
          class={boxStyles}
          prizes={[]}
          category="utvikling"
        >
          <p></p>
        </CreativeBox>

        <CreativeBox
          title="Best Shelf"
          class={boxStyles}
          prizes={[]}
          category="diverse"
        >
          <p></p>
        </CreativeBox>

        <CreativeBox
          title="Computer Case"
          class={boxStyles}
          prizes={[]}
          category="diverse"
        >
          <p></p>
        </CreativeBox>

        <CreativeBox
          title="Fast Themed Photo"
          class={boxStyles}
          prizes={[]}
          category="foto"
        >
          <p></p>
        </CreativeBox>

        <CreativeBox
          title="Best Group"
          class={boxStyles}
          prizes={[]}
          category="diverse"
        >
          <p></p>
        </CreativeBox>

        <CreativeBox
          title="Themed In-Game Screenshot"
          class={boxStyles}
          prizes={[]}
          category="foto"
        >
          <p></p>
        </CreativeBox>

        <CreativeBox
          title="Textmode Graphics"
          class={boxStyles}
          prizes={[]}
          category="grafikk"
        >
          <p></p>
        </CreativeBox>
        <CreativeBox
          title="Jury Award"
          class={boxStyles}
          prizes={[]}
          category="diverse"
        >
          <p></p>
        </CreativeBox>

        <CreativeBox
          title="Useless Util"
          class={boxStyles}
          prizes={[]}
          category="utvikling"
        >
          <p></p>
        </CreativeBox>

        <CreativeBox
          title="Improviserte konkurranser"
          class={`${boxStyles} md:col-span-2`}
          prizes={[]}
          category="diverse"
        >
          <p>Følg med på tg.no og under arrangementet</p>
        </CreativeBox>
      </div>
    </ContentContainer>
  </Main>
</Layout>
