---
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import H2 from "../../components/H2.astro";
import ContentContainer from "../../components/ContentContainer.astro";
import H3 from "../../components/H3.astro";

const sectionStyles = [
  "p-6",
  "mb-6",
  "rounded-3xl",
  "sm:mx-auto",
  "sm:rounded-2xl",
  "prose",
  "prose-strong:text-white",
  "border-white",
  "border",
];
---

<Layout
  title="The Gathering - Kjøpsvilkår"
  description="Kjøpsvilkår for deltakelse på The Gathering"
>
  <Main>
    <ContentContainer variant="narrow">
      <H1 text="Kjøpsvilkår for deltakelse på The Gathering" />
      <div class="prose">
        <section class:list={sectionStyles}>
          <H2 text="1. Billetter og Deltakelse" />
          <ul>
            <li>
              Billettkategorier: <a
                href="https://www.geekevents.org/tg26/#/shop"
                target="_blank"
                >Se vår egen side for informasjon om billetttyper og priser.</a
              >
            </li>
            <li>
              Betalingsbetingelser: Ved kjøp av billett vil du bli belastet med
              to separate avgifter:
              <ul>
                <li>
                  En <strong>ikke-refunderbar billettavgift</strong> fra vår eksterne
                  billettleverandør Geekevents.
                </li>
                <li>
                  En <strong>ikke-refunderbar kontingent</strong> som medlemsavgift
                  til KANDU, arrangøren bak eventet.
                </li>
              </ul>
            </li>
            <li>
              Alle kjøp er bindende, og billetten kan ikke betraktes som gyldig
              før full betaling er mottatt.
            </li>
          </ul>
        </section>
        <section class:list={sectionStyles}>
          <H2 text="2. Kjøpers Forpliktelser" />
          <ul>
            <li>
              Deltakere plikter å følge alle reglementer som er satt for
              arrangementet.
            </li>
            <li>
              Deltakere under 16 år må ha foreldre eller foresattes samtykke.
              Dette skal dokumenteres via et <a href="/practical/consent-form"
                >samtykkeskjema</a
              > som må fylles ut og sendes inn før deltakelse.
            </li>
            <li>Gyldig ID må kunne fremvises ved ankomst.</li>
          </ul>
        </section>
        <section class:list={sectionStyles}>
          <H2 text="3. Refundering og Angrerett" class="mb-6" />
          <ul>
            <li>
              Kjøp av billetter til dette arrangementet er bindende, og det gis
              ingen refusjon ved avbestilling, kansellering fra kjøper eller
              manglende oppmøte – uansett årsak.
            </li>
            <li>
              Angrerett gjelder ikke for arrangementer som finner sted på en
              bestemt dato eller tidsperiode, jf. angrerettloven § 22 bokstav m.
            </li>
            <li>
              Dersom arrangementet avlyses i sin helhet, har kjøper rett til å
              få refundert billettens pålydende verdi, med fradrag for kostnader
              som ikke tilfaller arrangøren, herunder billettgebyrer,
              betalingsgebyrer og eventuelle organisasjonskontingenter som er
              betalt i forbindelse med kjøpet. Disse dekker tjenester og
              medlemskap som anses levert ved kjøpstidspunktet og refunderes
              derfor ikke.
            </li>
            <li>
              Dersom arrangementet flyttes til ny dato, endres sted eller
              gjennomføres med vesentlige endringer, tilbys refusjon dersom
              endringen medfører at arrangementet ikke lenger kan anses som det
              samme som opprinnelig avtalt. Refusjon gjennomføres i så fall til
              det betalingskortet som ble brukt ved kjøpet.
            </li>
          </ul>
          <H3>3.1 Refusjon ved sykdom eller medisinsk grunnlag</H3>
          <ul>
            <li>
              Dersom du ikke kan delta på arrangementet, eller må reise hjem som
              følge av sykdom, skade eller annen medisinsk årsak, gis det ingen
              refusjon. I slike tilfeller må du selv søke dekning gjennom din
              reiseforsikring.
            </li>
            <li>
              Dersom du må forlate arrangementet av medisinske årsaker etter
              ankomst, vil du ikke ha krav på refusjon. Du kan få utstedt
              bekreftelse fra vårt medisinske personell som dokumentasjon
              overfor forsikringsselskapet ditt.
            </li>
            <li>
              Ved mistanke om smittsom sykdom (for eksempel omgangssyke,
              influensa eller koronavirus) vil du kunne bli isolert og sendt
              hjem så snart som praktisk mulig. Vårt medisinske personell
              foretar fortløpende vurderinger for å ivareta sikkerheten til alle
              deltakerne. Ledelsen kan i enkelte tilfeller bruke skjønn og
              forsøke å finne løsninger som gjør at du kan bli værende dersom
              situasjonen tillater det. For deltakere under 18 år vil ledelsen
              kontakte foresatte.
            </li>
          </ul>
          <H3>3.2 Refusjon ved hjemreise på annet grunnlag</H3>
          <ul>
            <li>
              Dersom du blir bedt om å forlate arrangementet på grunn av brudd
              på regler, sikkerhetsbestemmelser eller annen vesentlig grunn, gis
              det ingen refusjon eller kompensasjon. Arrangøren dekker heller
              ikke kostnader til eventuell hjemtransport eller overnatting. For
              deltakere under 18 år vil ledelsen kontakte foresatte.
            </li>
          </ul>
        </section>
        <section class:list={sectionStyles}>
          <H2 text="4. Personopplysninger og Databehandling" />
          <ul>
            <li>
              Ved kjøp av billett gir du ditt samtykke til at vi samler inn og
              lagrer personopplysninger som navn, e-postadresse, telefonnummer
              og annen nødvendig informasjon for å administrere deltakelsen på
              arrangementet.
            </li>
            <li>
              Personopplysninger brukes til å administrere billettkjøp,
              deltakelse, samt andre nødvendige formål knyttet til
              organiseringen av arrangementet. Behandlingen av
              personopplysninger skjer i henhold til gjeldende
              personvernlovgivning (GDPR).
            </li>
            <li>
              Vi forbeholder oss retten til å kontakte deg via SMS eller e-post
              med informasjon som vi anser relevant for ditt deltakelse på
              arrangementet eller organisasjonens drift. Dette kan inkludere,
              men er ikke begrenset til, påminnelser om arrangementet,
              nyhetsbrev, medlemsinformasjon og annen kommunikasjon som anses
              nyttig for deltakere.
            </li>
            <li>
              Dine personopplysninger vil kun bli delt med
              tredjepartsleverandører der det er nødvendig for gjennomføring av
              billettkjøp og arrangementsadministrasjon, for eksempel
              Geekevents.
            </li>
            <li>
              Vi kan også anonymisere dine data for statistiske formål og
              forbedring av fremtidige arrangementer.
            </li>
          </ul>
        </section>
        <section class:list={sectionStyles}>
          <H2 text="5. Medlemskap i Organisasjonen" />
          <ul>
            <li>
              Ved kjøp av billett blir du automatisk medlem av KANDU, arrangøren
              av dette arrangementet. Medlemskapet varer i ett år og inkluderer
              stemmerett på KANDUs årsmøter samt andre medlemsfordeler.
            </li>
            <li>
              Medlemskapet er pålagt for å delta på arrangementet og er ikke
              refunderbart.
            </li>
          </ul>
        </section>
        <section class:list={sectionStyles}>
          <H2 text="6. Overdragelse og videresalg av billetter" class="mb-6" />
          <H3>6.1 Overdragelse av billetter"</H3>
          <ul>
            <li>
              Billetter kan overføres til en annen person ved å bruke de
              innebygde funksjonene hos vår tredjeparts billettleverandør,
              GeekEvents.
            </li>
            <li>
              Hver deltaker må inneha sin egen billett for å kunne delta på
              arrangementet. Billetten er personlig og må fremvises ved ankomst.
            </li>
            <li>
              Deltakere har mulighet til å overføre ansvar for setevalg til en
              annen person via vårt billettsystem.
            </li>
          </ul>
          <H3> 6.2 Videresalg av billetter</H3>
          <ul>
            <li>
              Videresalg av ordinære deltakerbilletter er tillatt, men kun til
              samme eller lavere pris enn opprinnelig kjøpspris, jf.
              svartebørsloven.
            </li>
            <li>
              Videresalg av gratisbilletter er ikke tillatt. Gratisbilletter er
              personlige og kan ikke overdras uten arrangørens skriftlige
              samtykke. Brudd på disse bestemmelsene kan medføre at billetten(e)
              annulleres uten kompensasjon.
            </li>
          </ul>
          <H3>6.3 Særregler for gratisbilletter</H3>
          <ul>
            <li>
              Billetter vunnet i konkurranser gjelder kun for det arrangementet
              og året de er utstedt for, og kan ikke overføres til senere
              arrangementer. Det gis ikke økonomisk kompensasjon for
              gratisbilletter, uansett årsak. Arrangøren kan fastsette særskilte
              vilkår for gratisbilletter i kampanjer eller konkurranser, og
              slike vilkår vil i så fall fremgå tydelig i tilknytning til
              utsendelsen av billetten.
            </li>
            <li>
              Bruk av gratisbilletter uavhengig av opphav, fordrer at du
              allerede er medlem i KANDU, organisasjonen bak The Gathering.
              Dersom du ikke allerede er medlem i KANDU påløper 50kr i
              innmeldingsavgift når du ankommer arrangementet, samtidig som du
              registrerer deg. Dette er fordi The Gathering er å regne som et
              lukket medlemsarrangement for KANDU-medlemmer
            </li>
          </ul>
        </section>
        <section class:list={sectionStyles}>
          <H2 text="7. Ansvar og Rettigheter for Arrangøren" />
          <ul>
            <li>
              Arrangøren forbeholder seg retten til å endre tidspunkter,
              lokasjon og programmet for arrangementet uten varsel.
            </li>
            <li>
              Arrangøren er ikke ansvarlig for personskader, tap av eiendeler
              eller andre hendelser som måtte oppstå under arrangementet.
            </li>
            <li>
              Deltakere er selv ansvarlige for sine personlige eiendeler under
              arrangementet.
            </li>
          </ul>
        </section>
        <section class:list={sectionStyles}>
          <H2 text="8. Sikkerhet og Atferd" />
          <ul>
            <li>
              Deltakere forventes å følge alle retningslinjer og
              sikkerhetsregler som gjelder under arrangementet.
            </li>
            <li>
              Brudd på atferdsregler kan resultere i bortvisning uten rett til
              refusjon.
            </li>
            <li>
              <a href="/event/rules">
                For detaljerte regler, se vårt fullstendige reglement
              </a>
            </li>
          </ul>
        </section>
        <section class:list={sectionStyles}>
          <H2 text="9. Tilgjengelighet" />
          <ul>
            <li>
              Arrangementet er lukket for allmennheten og er kun åpent for
              medlemmer av KANDU og andre inviterte deltakere.
            </li>
            <li>
              I henhold til norsk lov, vil vi sørge for at arrangementet er
              tilgjengelig for personer med funksjonshemninger der det er mulig.
              Ta kontakt med oss på <a href="mailto:info@tg.no">info@tg.no</a> for
              spesifikke behov eller spørsmål.
            </li>
          </ul>
        </section>
        <section class:list={sectionStyles}>
          <H2 text="10. Kontaktinformasjon" />
          <ul>
            <li>
              For spørsmål om billettkjøp eller teknisk støtte, kan vår
              billettleverandør Geekevents nås på <a
                href="mailto:support@geekevents.no">support@geekevents.no</a
              >
            </li>
            <li>
              For andre henvendelser kan arrangementet kontaktes på
              <a href="mailto:info@tg.no">info@tg.no</a>
            </li>
          </ul>
        </section>
      </div>
    </ContentContainer>
  </Main>
</Layout>
