---
import type { Event } from "../../types";
import CalendardSymbol from "../icons/CalendardSymbol.astro";
import ClockSymbol from "../icons/ClockSymbol.astro";
import CancelSymbol from "../icons/CancelSymbol.astro";
import CloseSymbol from "../icons/CloseSymbol.astro";
import ArrowSymbol from "../icons/ArrowSymbol.astro";
import ExternalLinkSymbol from "../icons/ExternalLinkSymbol.astro";
import LiveSymbol from "../icons/LiveSymbol.astro";

type Props = Event & {
  expanded?: boolean;
  location?: {
    name: string;
    slug: string;
    url?: string;
    active?: boolean;
    color?: string;
  };
};

const {
  id,
  title,
  description,
  start,
  end,
  related_url,
  cancelled,
  facts,
  strings,
  expanded = false,
  location,
  tags,
} = Astro.props;
let style = "";

if (!expanded) {
  if (facts.ended) {
    style = "has-ended";
  } else if (["start", "both"].includes(facts.extendingQuery)) {
    style = "minimal";
  }
}

const hasNotice = tags.some((tag) => tag.slug === "notice");
// Let's rely on tag signal for now, but looking for unused signal in case it shows up
const isCancelled = cancelled || tags.some((tag) => tag.slug === "cancelled");

let duration = strings.duration;
let DurationSymbol = ClockSymbol;

switch (facts.extendingQuery) {
  case "start":
    duration = `${strings.startDate} ${strings.startTime} - ${strings.endTime}`;
    DurationSymbol = CalendardSymbol;
    break;
  case "end":
    duration = `${strings.startTime} - ${strings.endDate} ${strings.endTime}`;
    DurationSymbol = CalendardSymbol;
    break;
  case "both":
    duration = `${strings.startDate} ${strings.startTime} - ${strings.endDate} ${strings.endTime}`;
    DurationSymbol = CalendardSymbol;
    break;
}

if (expanded) {
  duration = `${strings.startDate} ${strings.startTime} - ${strings.endDate} ${strings.endTime}`;
  DurationSymbol = CalendardSymbol;
}

if (isCancelled) {
  duration = "Avlyst";
  DurationSymbol = CancelSymbol;
}
---

<style>
  [data-component="event"] {
    color: var(--color-foreground);
    border-color: var(--color-foreground);
    &.minimal {
    }
    &.has-ended {
      opacity: 0.5;
      display: none;
    }
    &.is-live {
      .live-symbol {
        display: flex;
      }
    }
    &.has-notice {
      .live-symbol {
        display: flex;
        color: var(--color-yellow-600);
      }
    }
    &.is-cancelled {
      .live-symbol {
        display: flex;
        color: var(--color-yellow-600);
      }
      .date {
        text-decoration: line-through;
      }
    }
  }
</style>

<article
  data-component="event"
  class={`group ${expanded ? "" : "collapsed"} ${style} ${hasNotice ? "has-notice" : ""} ${isCancelled ? "is-cancelled" : ""} w-[80vw] ml-auto mb-8`}
  data-start={start}
  data-end={end}
>
  <div class={`flex flex-row pb-4 pt-2 text-5xl`}>
    <section class="ml-4 w-full">
      {
        location || related_url ? (
          <div class="flex flex-row mb-4 mt-8">
            <div class="text-md flex flex-row flex-wrap gap-2">
              {location ? (
                <a
                  href={location.url}
                  class={`rounded-lg flex flex-row py-4 px-8 ${location.color ? "bg-" + location.color + "-500 text-black" : "text-foreground border-foreground"} ${location.url ? "hover:bg-foreground hover:text-foreground-contrast" : ""} ${location.active ? "" : ""}`}
                >
                  {location.name}
                  {location.active && location.url ? <CloseSymbol /> : null}
                </a>
              ) : null}
            </div>
          </div>
        ) : null
      }
      <section
        {...description
          ? {
              "data-part": "event-details-trigger",
              "aria-controls": `event-${id}-details`,
              "data-active": "false",
              "aria-expanded": "false",
            }
          : {}}
        class={`text-md ${description ? "group-[.collapsed]:cursor-pointer group-[.collapsed]:hover:bg-foreground/10" : ""}`}
      >
        <h3 class="font-semibold text-6xl text-pretty mb-4 pt-4 flex flex-row">
          <span class="-ml-24 mr-8 mt-2 text-red-600 live-symbol hidden">
            <LiveSymbol class="w-16 h-16" />
          </span>
          {title}
        </h3>
        <aside
          class={`flex flex-row gap-3 pb-3 w-full rounded-b-xl group-[.collapsed]:bg-transparent group-[.collapsed]:text-foreground`}
        >
          <time datetime={start} class="flex flex-row gap-3 items-center">
            <span class="flex">
              <DurationSymbol class="w-16 h-16" />
            </span>
            {duration}
          </time>
        </aside>
      </section>
    </section>
  </div>
</article>
