---
import type { Event } from "../../types";
import CalendardSymbol from "../icons/CalendardSymbol.astro";
import ClockSymbol from "../icons/ClockSymbol.astro";
import CancelSymbol from "../icons/CancelSymbol.astro";
import CloseSymbol from "../icons/CloseSymbol.astro";
import ArrowSymbol from "../icons/ArrowSymbol.astro";
import ExternalLinkSymbol from "../icons/ExternalLinkSymbol.astro";
import LiveSymbol from "../icons/LiveSymbol.astro";

type Props = Event & {
  expanded?: boolean;
  location?: {
    name: string;
    slug: string;
    url?: string;
    active?: boolean;
    color?: string;
  };
};

const {
  id,
  title,
  description,
  start,
  end,
  related_url,
  cancelled,
  facts,
  strings,
  expanded = false,
  location,
  tags,
} = Astro.props;
let style = "";

if (!expanded) {
  if (facts.ended) {
    style = "has-ended";
  } else if (["start", "both"].includes(facts.extendingQuery)) {
    style = "minimal";
  }
}

const isExpandable = Boolean(description);
const hasNotice = tags.some((tag) => tag.slug === "notice");
// Let's rely on tag signal for now, but looking for unused signal in case it shows up
const isCancelled = cancelled || tags.some((tag) => tag.slug === "cancelled");

let duration = strings.duration;
let DurationSymbol = ClockSymbol;

switch (facts.extendingQuery) {
  case "start":
    duration = `${strings.startDate} ${strings.startTime} - ${strings.endTime}`;
    DurationSymbol = CalendardSymbol;
    break;
  case "end":
    duration = `${strings.startTime} - ${strings.endDate} ${strings.endTime}`;
    DurationSymbol = CalendardSymbol;
    break;
  case "both":
    duration = `${strings.startDate} ${strings.startTime} - ${strings.endDate} ${strings.endTime}`;
    DurationSymbol = CalendardSymbol;
    break;
}

if (expanded) {
  duration = `${strings.startDate} ${strings.startTime} - ${strings.endDate} ${strings.endTime}`;
  DurationSymbol = CalendardSymbol;
}

if (isCancelled) {
  duration = "Avlyst";
  DurationSymbol = CancelSymbol;
}
---

<style>
  [data-component="event"] {
    color: var(--color-white);
    border-color: var(--color-white);
    &.minimal {
    }
    &.has-ended {
      opacity: 0.5;
    }
    &.is-live {
      .live-symbol {
        display: flex;
      }
    }
    &.has-notice {
      .live-symbol {
        display: flex;
        color: var(--color-yellow-600);
      }
    }
    &.is-cancelled {
      .live-symbol {
        display: flex;
        color: var(--color-yellow-600);
      }
      .date {
        text-decoration: line-through;
      }
    }
  }
</style>

<script>
  const events: {
    event: Element;
    triggers: Array<Element>;
    collapsible: Element | null;
  }[] = [...document.querySelectorAll("[data-component='event']")].map(
    (event) => {
      const triggers = Array.from(
        event.querySelectorAll("[data-part='event-details-trigger']"),
      );
      const collapsible = event.querySelector("[data-part='event-details']");
      return { event, triggers, collapsible };
    },
  );

  const updateEventProperties = (
    {
      event,
      triggers,
    }: {
      event: Element;
      triggers: Array<Element>;
    },
    active: boolean,
  ) => {
    if (!triggers.length) {
      return;
    }
    event.classList.toggle("collapsed", !active);
    event.setAttribute("data-active", String(active));

    triggers.forEach((trigger) => {
      trigger.setAttribute("aria-expanded", String(active));
    });
  };

  const collapseAllEvents = () => {
    events.forEach((event) => updateEventProperties(event, false));
  };

  events.forEach(({ triggers, event }) => {
    if (!triggers.length) {
      return;
    }

    triggers.forEach((trigger) => {
      trigger.addEventListener("click", () => {
        const active =
          (event.getAttribute("data-active") || "false") === "false";

        if (trigger.getAttribute("data-mode") === "expand-only" && !active) {
          return;
        }

        collapseAllEvents();
        updateEventProperties({ event, triggers }, active);
      });
    });
  });
</script>

<article
  data-component="event"
  class={`group ${expanded ? "expanded" : "collapsed"} ${style} ${hasNotice ? "has-notice" : ""} ${isCancelled ? "is-cancelled" : ""}`}
  data-start={start}
  data-end={end}
  data-active="false"
>
  <div class={`flex flex-row block pb-4 pt-2 border-t border-white`}>
    <aside class="w-24 mr-4 date">
      {strings.startDateLong}
    </aside>
    <section class="ml-4 w-full">
      {
        location || related_url ? (
          <div class="flex flex-row mb-1 mt-2">
            <div class="text-md flex flex-row flex-wrap gap-2">
              {location ? (
                <a
                  href={location.url}
                  class={`rounded-md flex flex-row py-1 px-2 ${location.color ? "bg-" + location.color + "-500 text-black" : "text-white border-white"} ${location.url ? "hover:bg-white hover:text-background-secondary" : ""} ${location.active ? "" : ""}`}
                >
                  {location.name}
                  {location.active && location.url ? <CloseSymbol /> : null}
                </a>
              ) : null}
            </div>
            {related_url ? (
              <a
                href={related_url}
                target="_blank"
                class="rounded-md h-fit p-1 ml-auto hover:bg-white hover:text-background-secondary"
              >
                <ExternalLinkSymbol />
              </a>
            ) : null}
            <slot />
          </div>
        ) : null
      }
      <section
        class={`text-md ${description ? "group-[.collapsed]:cursor-pointer" : ""}`}
        {...isExpandable
          ? {
              "data-part": "event-details-trigger",
              "aria-controls": `event-${id}-details`,
              "data-mode": "expand-only",
              "aria-expanded": "false",
            }
          : {}}
      >
        <h3 class="font-semibold text-pretty mb-1 pt-1 flex flex-row">
          <span class="w-3 -ml-5 mr-2 text-red-600 live-symbol hidden">
            <LiveSymbol />
          </span>
          {title}
        </h3>
        <time datetime={start} class="flex flex-row gap-3 time">
          <span class="flex w-4">
            <DurationSymbol />
          </span>
          {duration}
        </time>
        {
          description && (
            <div
              class="mt-3 sm:mb-8 pb-2 group-[.collapsed]:hidden w-full"
              data-part="event-details"
              id={`event-${id}-details`}
              aria-role="details"
            >
              <p>{description}</p>
            </div>
          )
        }
      </section>
      <aside
        class="flex flex-col relative gap-3 pb-5 w-full rounded-b-xl group-[.collapsed]:bg-transparent group-[.collapsed]:text-white mt-3 sm:mt-0"
      >
        {
          isExpandable && (
            <button
              class="flex w-full sm:w-auto sm:absolute sm:bottom-1 sm:right-1 py-2 px-4 gap-2 justify-center text-sm sm:text-base bg-neutral-900 rounded-md ml-auto cursor-pointer"
              data-part="event-details-trigger"
              aria-controls={`event-${id}-details`}
              aria-expanded="false"
            >
              <span class="hidden group-[.collapsed]:flex">Les mer</span>
              <span class="flex group-[.collapsed]:hidden">Lukk</span>
              <ArrowSymbol class="transition-transform duration-300 rotate-180 group-[.collapsed]:rotate-0" />
            </button>
          )
        }
      </aside>
    </section>
  </div>
</article>
