---
import H2 from "../../../components/H2.astro";
import { type CompetitionPage } from "../../../utils";
import CreativeBox, { type Action } from "./CreativeBox.astro";

export interface Props extends Pick<
  CompetitionPage,
  "title" | "description" | "category" | "prizes" | "signup_link"
> {
  children?: any;
  slug?: CompetitionPage["slug"];
  class?: string;
  details_link?: string;
}

const {
  title,
  prizes = [],
  class: classNames,
  category,
  description,
  signup_link,
  details_link,
} = Astro.props;

//const url = Astro.props.slug
//  ? `/competitions/creative/${Astro.props.slug}`
//  : undefined;

const actions = [
  signup_link
    ? {
        label: "Meld deg på",
        url: signup_link,
      }
    : undefined,

  details_link
    ? {
        label: "Les mer",
        url: details_link,
      }
    : undefined,
].filter(Boolean) as Action[];

const formatPrice = (prize: number | string) =>
  typeof prize === "string"
    ? prize
    : new Intl.NumberFormat("nb-NO", {
        style: "currency",
        currency: "NOK",
        maximumFractionDigits: 0,
      }).format(prize);

const hasPrices = !!prizes.length;
const prizeGroups = prizes.every(Array.isArray) ? prizes : [prizes];
---

<CreativeBox actions={actions} category={category?.name} class={classNames}>
  <H2 text={title} color="" class="mb-0" />
  {description && <p>{description}</p>}
  {
    hasPrices
      ? prizeGroups.map((groupPrizes) => (
          <>
            <dl class="divide-y divide-black/50 mt-5 last:pt-5 last:mt-auto">
              {groupPrizes.map(({ name, price }, index) => (
                <div class="px-2 py-1 grid grid-cols-5 sm:gap-2 sm:px-0">
                  {title !== undefined && (
                    <dt class="text-sm font-bold leading-4 text-black/90 col-span-3">
                      {name || `${index + 1}. plass`}
                    </dt>
                  )}
                  <dd
                    class={`mt-1 text-sm leading-4 text-black/70 ${title !== undefined ? "col-span-2" : "col-span-5"} sm:mt-0`}
                  >
                    {price ? formatPrice(price) : "TBA"}
                  </dd>
                </div>
              ))}
            </dl>
          </>
        ))
      : null
  }
</CreativeBox>
