---
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import { fetchInfoPageByPath } from "../../utils";
import PracticalPage from "../../components/practical/PracticalPage.astro";

const sectionPrefix = "/practical/";

type Props = {
  params?: {
    path: string;
  };
};

const path = new URL(
  (Astro.props?.params?.path ?? Astro.params?.path) || "",
  "http://example.com",
).pathname;

if (typeof path !== "string") {
  return Astro.rewrite("/404");
}

const page = await fetchInfoPageByPath({
  path: path.startsWith(sectionPrefix) ? path : `/practical${path}`,
  apiUrl: import.meta.env.API_URL,
});

if (!page) {
  return Astro.rewrite("/404");
}

const jsonLd = !!page.faq?.length
  ? {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      mainEntity: page.faq.map((item) => ({
        "@type": "Question",
        name: item.title,
        acceptedAnswer: {
          "@type": "Answer",
          text: item.body,
        },
      })),
    }
  : undefined;
---

<Layout
  title=`The Gathering - ${page.title}`
  description=`${page.meta.search_description}`
  seo_title=`${page.meta.seo_title}`
  search_description=`${page.meta.search_description}`
  introText=`${page.intro}`
  lang=`${page.meta.locale || "no"}`
  image=`${page.main_image?.sizes.large.url}`
  jsonLd={jsonLd}
>
  <Main>
    <PracticalPage {...page} />
  </Main>
</Layout>
