---
import H2 from "../../components/H2.astro";
import H3 from "../../components/H3.astro";
import Button from "../Button.astro";
import Pill from "./Pill.astro";

export interface Props {
  title: string;
  children: any;
  prizes?: number[];
  prizeDisclaimer?: string;
  byoc?: boolean;
  requiresTicket?: boolean;
  class?: string;
  url?: string;
  urlText?: string;
}

const {
  title,
  prizes,
  prizeDisclaimer,
  url,
  urlText = "Les mer",
  class: classNames,
  byoc,
  requiresTicket,
} = Astro.props;

const hasPills = byoc || requiresTicket;
const hasPrizes = Array.isArray(prizes) && prizes.length > 0;

const formattedPrizes = hasPrizes
  ? prizes.map((prize) =>
      new Intl.NumberFormat("nb-NO", {
        style: "currency",
        currency: "NOK",
        maximumFractionDigits: 0,
      }).format(prize),
    )
  : [];
---

<section class={`flex flex-col ${classNames}`}>
  <div>
    {
      hasPills && (
        <div class="flex flex-row justify-end gap-2 mb-4">
          {byoc && <Pill text="Egen maskin" color="orange" />}
          {requiresTicket && <Pill text="I skipet" color="blue" />}
        </div>
      )
    }
    <H2 text={title} color="text-white" class="mt-4" />
    <slot />
  </div>

  <div class="mt-4 last:mt-auto">
    <H3 class="mt-0 text-lg" color=""> Premiepotten: </H3>

    {
      hasPrizes ? (
        <>
          <dl class="divide-y divide-black/50 not-prose">
            {formattedPrizes.map((prize, index) => (
              <div class="px-2 py-1 grid grid-cols-3 sm:gap-2 sm:px-0">
                <dt class="text-sm font-bold leading-4">
                  {`${index + 1}. plass`}
                </dt>
                <dd class="mt-1 text-sm leading-4 col-span-2 sm:mt-0">
                  {prize}
                </dd>
              </div>
            ))}
          </dl>

          {prizeDisclaimer && (
            <p class="mt-2 text-sm opacity-70">* {prizeDisclaimer}</p>
          )}
        </>
      ) : (
        <p class="text-sm">TBA</p>
      )
    }
  </div>

  {
    url && (
      <div class="last:pt-4 last:mt-auto w-full">
        <Button href={url} variant="wide">
          {urlText}
        </Button>
      </div>
    )
  }
</section>
