---
import type { NavItem } from "../../types";
export interface Props extends NavItem {
  class?: string;
  subAlignment?: "left" | "right";
  interactionMode?: "click" | "hover";
  hamburger?: boolean;
}

const {
  title,
  path,
  items = [],
  subAlignment = "left",
  class: className = "",
  interactionMode = "click",
  hamburger = false,
} = Astro.props;

const key = `${title.toLowerCase().replace(" ", "-")}-${path || ""}`;
const clickable = !!path;
const expandable = !!items.length;

const TextContainer = clickable ? "a" : "span";
const isActive =
  path === Astro.url.pathname ||
  items.some((item) => item.path === Astro.url.pathname);

const itemsWithParent: Array<
  NavItem & {
    touchOnly?: boolean;
  }
  // Add copy of head item as top item in list, for people that don't like to click a hoverable item and mobile users where hover is not an option
> = path ? [{ path, title: "Oversikt", touchOnly: false }, ...items] : items;
---

<script>
  interface SubNavComponents {
    mainLink: HTMLElement;
    trigger: HTMLElement;
    subMenu: HTMLElement;
    navItem: HTMLElement;
  }

  const navItems: SubNavComponents[] = [
    ...document.querySelectorAll("[data-component='nav-item']"),
  ]
    .map((navItem) => {
      const trigger = navItem.querySelector("[data-part='trigger']");
      const subMenu = navItem.querySelector("[data-part='sub-menu']");
      const mainLink = navItem.querySelector("[data-part='main-link']");
      return { mainLink, trigger, subMenu, navItem } as SubNavComponents;
    })
    .filter(
      ({ mainLink, navItem, trigger, subMenu }) =>
        mainLink && navItem && trigger && subMenu,
    );

  function expand(index: number, expanded: boolean) {
    const { navItem, trigger, subMenu } = navItems[index] || {};
    if (!trigger || !subMenu) {
      return;
    }
    navItem.classList.toggle("expanded", expanded);
    trigger.setAttribute("aria-expanded", String(expanded));
    subMenu.classList.toggle("flex", expanded);
    subMenu.classList.toggle("hidden", !expanded);
  }

  function closeAll() {
    navItems.forEach((_, index: number) => {
      expand(index, false);
    });
  }

  const isTouchDevice =
    "ontouchstart" in window ||
    navigator.maxTouchPoints > 0 ||
    // @ts-ignore
    navigator.msMaxTouchPoints > 0;

  navItems.forEach(({ mainLink, navItem, trigger, subMenu }, index: number) => {
    const interactionMode = navItem.getAttribute("data-mode") || "click";
    navItem.classList.add(`interaction-mode-${interactionMode}`);

    if (interactionMode === "hover" && !isTouchDevice) {
      navItem.addEventListener("mouseenter", () => {
        closeAll();
        expand(index, true);
      });
      navItem.addEventListener("mouseleave", () => {
        expand(index, false);
      });
      return;
    }

    subMenu.querySelectorAll(".hidden").forEach((subMenu) => {
      subMenu.classList.remove("hidden");
    });
    [mainLink, trigger].forEach((item) =>
      item?.addEventListener("click", (event) => {
        event?.preventDefault();
        const expanded = !(
          trigger.getAttribute("aria-expanded") === "true" || false
        );
        closeAll();
        expand(index, expanded);
      }),
    );
  });
</script>

<li
  class={`relative group bg-background-secondary ${className}`}
  data-component="nav-item"
  data-mode={interactionMode}
>
  <div
    class={`block ${isActive ? "text-orange-500" : "text-white"} ${clickable ? "group-[.expanded]:text-orange-500" : "group-[.expanded]:text-neutral-400"} flex ${interactionMode === "hover" ? "z-20" : ""} relative ${clickable ? "cursor-pointer" : "cursor-default"} items-center h-6`}
  >
    <TextContainer href={path} data-part="main-link" class="mr-3 w-max">
      {title}
    </TextContainer>
    {
      expandable ? (
        <button
          type="button"
          data-part="trigger"
          aria-controls={`nav-item-sub-${key}`}
          aria-expanded="false"
          class="block p-1 ml-auto rounded group-[.interaction-mode-click]:bg-neutral-800"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="block h-3 w-3 m-1.5 group-[.expanded]:scale-y-[-1] transition-transform duration-100 ease-out"
            aria-hidden="false"
            aria-haspopup="menu"
          >
            <>
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 9l6 6l6 -6" />
            </>
          </svg>
        </button>
      ) : null
    }
  </div>
  {
    expandable ? (
      <ul
        class:list={[
          "hidden min-w-max w-full flex-col space-y-1 px-2 py-3",
          hamburger
            ? "mt-3 bg-neutral-800"
            : "z-10 mt-0 pt-10 rounded-b-md absolute top-0 bg-background-secondary",
          subAlignment === "left" ? "left-0" : "right-0",
        ]}
        id={`nav-item-sub-${key}`}
        aria-role="menu"
        data-part="sub-menu"
      >
        {itemsWithParent.map((subItem) => (
          <li class={`${subItem.touchOnly ? "hidden" : ""}`}>
            <a
              href={subItem.path}
              class={`block rounded-md px-2 py-1 text-sm font-medium ${subItem.path === Astro.url.pathname ? "text-orange-500" : "text-neutral-300"} hover:bg-orange-500 hover:text-white`}
            >
              {subItem.title}
            </a>
          </li>
        ))}
      </ul>
    ) : null
  }
</li>
