---
import "leaflet/dist/leaflet.css";
import {
  units,
  calculateRow,
  calculateColumn,
  getStandSize,
  stringToSize,
  rotateCords,
  getStandPolygon,
  slugifyMapItemName,
} from "../../utils/map";
import TgMap from "../../components/map/TgMap.astro";
import type { MapItem, PartialMapItem } from "../../types";
import Layout from "../../layouts/Layout.astro";
import TgMapNavItem from "../../components/map/TgMapNavItem.astro";
import H3 from "../../components/H3.astro";

type MapItemBase = Pick<PartialMapItem, "name"> &
  Partial<Omit<PartialMapItem, "name">>;

type LocationMap = Record<string, MapItemBase>;

const TYPE_COLORS = {
  attraction: "purple",
  hygiene: "green",
  food: "red",
  stand: "blue",
  stage: "orange",
  unknown: "gray",
  placeholder: "gray",
};

const STANDS = {
  placeholder: {
    name: "Placeholder",
    presentation: {
      type: "placeholder",
    },
  },
} as const satisfies LocationMap;

const FOOD = {
  placeholder: {
    name: "Placeholder",
    presentation: {
      type: "placeholder",
    },
  },
} as const satisfies LocationMap;

const ATTRACTIONS = {
  streamerLounge: {
    name: "Studio and production area",
    presentation: {
      type: "unknown",
    },
  },
  streamers: {
    name: "Streamers",
    presentation: {
      type: "stand",
      showInNavigation: true,
    },
  },
  chillout: {
    name: "Lounge",
    icon: "https://www.tg.no/tg25/tg25_icon_white.svg",
    presentation: {
      type: "stage",
      showInNavigation: true,
      showPopup: true,
      mapIcon: true,
      calendarQuery: ["lounge"],
      padding: 40,
    },
  },
  tgHack: {
    name: "TG:Hack",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  creativeInfo: {
    name: "Creative infodesk",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  tgShop: {
    name: "TG Shop",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  infodesk: {
    name: "Infodesk",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  reception: {
    name: "Resepsjon",
    presentation: {
      type: "attraction",
      showInNavigation: true,
      stickyLabel: true,
    },
  },
  support: {
    name: "Techsupport",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  esportInfo: {
    name: "E-sport infodesk",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  toilet: {
    name: "Toaletter",
    presentation: {
      type: "hygiene",
      stickyLabel: true,
    },
  },
  showers: {
    name: "Dusjer",
    presentation: {
      type: "hygiene",
      showInNavigation: true,
    },
  },
  sektor: {
    name: "sektor",
    presentation: {
      type: "attraction",
      showInNavigation: true,
      stickyLabel: true,
    },
  },
  sleepingArea: {
    name: "Soveområde",
    presentation: {
      type: "attraction",
      showInNavigation: true,
      stickyLabel: true,
    },
  },
  crewArea: {
    name: "Crewområde",
    presentation: {
      type: "placeholder",
      showPopup: true,
      popupText: "kode_applyfortg26crewplz",
    },
  },
  security: {
    name: "Sikkerhet",
    presentation: {
      type: "attraction",
      showInNavigation: true,
      stickyLabel: true,
    },
  },
  medic: {
    name: "Medic",
    presentation: {
      type: "attraction",
      showInNavigation: true,
      stickyLabel: true,
    },
  },
} as const satisfies LocationMap;

const STAGES = {
  mainStage: {
    icon: "https://www.tg.no/tg25/tg25_icon_white.svg",
    name: "Hovedscenen",
    presentation: {
      type: "stage",
      showInNavigation: true,
      showPopup: true,
      mapIcon: true,
      calendarQuery: ["hovedscenen"],
      padding: 40,
    },
  },
  eSportStage: {
    icon: "https://www.tg.no/tg25/tg25_icon_white.svg",
    name: "Esportscenen",
    presentation: {
      type: "stage",
      showInNavigation: true,
      showPopup: true,
      mapIcon: true,
      calendarQuery: ["esportscenen"],
      padding: 40,
    },
  },
  creativiaStage: {
    icon: "https://www.tg.no/tg25/tg25_icon_white.svg",
    name: "Kreativiascenen",
    presentation: {
      type: "stage",
      showInNavigation: true,
      showPopup: true,
      mapIcon: true,
      calendarQuery: ["kreativiascenen"],
      padding: 40,
    },
  },
} as const satisfies LocationMap;

const SIZES = {
  small: getStandSize("3x3"),
  medium: getStandSize("6x6"),
  long: getStandSize("6x3"),
  longVertical: getStandSize("3x6"),
  superlongVertical: getStandSize("3x9"),
} as const satisfies Record<string, { width: number; height: number }>;

const LOCATIONS: MapItem[] = [
  {
    ...STANDS.placeholder,
    ...getStandSize("46x38"),
    pos: { x: units(16), y: units(70) },
  },
  {
    ...STANDS.placeholder,
    ...getStandSize("20x30"),
    pos: { x: units(59), y: units(47) },
  },

  // Streamer cluster
  ...calculateColumn([
    {
      ...ATTRACTIONS.streamerLounge,
      ...getStandSize("10x10"),
      pos: { x: units(50.5), y: units(105) },
    },
    {
      ...ATTRACTIONS.streamers,
      ...getStandSize("10x3"),
    },
  ]),
  // TG Shop cluster, lower left above reception
  ...calculateColumn(
    [
      {
        ...ATTRACTIONS.tgShop,
        ...getStandSize("12x12"),
        pos: { x: units(45), y: units(46) },
      },
      {
        ...ATTRACTIONS.support,
        ...getStandSize("5x5"),
        presentation: {
          ...ATTRACTIONS.support.presentation,
          labelWidth: 7,
        },
      },
      {
        ...ATTRACTIONS.infodesk,
        ...getStandSize("5x5"),
      },
      {
        ...ATTRACTIONS.esportInfo,
        ...getStandSize("5x5"),
      },
    ],
    "up",
  ),
  {
    ...ATTRACTIONS.reception,
    ...getStandSize("6x8"),
    pos: { x: 850, y: 206 },
  },
  // Left stage (stage right) cluster
  ...calculateColumn([
    {
      ...ATTRACTIONS.chillout,
      ...getStandSize("10x15"),
      pos: { x: units(66), y: units(93) },
    },
    {
      ...STANDS.placeholder,
      ...getStandSize("10x8"),
    },
  ]),
  // Creativia cluster right of stage (stage left)
  ...calculateColumn(
    [
      {
        ...ATTRACTIONS.tgHack,
        ...getStandSize("9x8"),
        pos: { x: units(155), y: units(82) },
      },
      {
        ...ATTRACTIONS.creativeInfo,
        ...getStandSize("11x2"),
      },
      {
        ...STAGES.creativiaStage,
        ...getStandSize("11x10"),
      },
    ],
    "up",
  ),
  // Food cluster
  {
    ...FOOD.placeholder,
    ...SIZES.small,
    polygon: rotateCords({ x: 0, y: 0 }, getStandPolygon("3x3"), -40),
    pos: { x: units(24.5), y: units(57) },
  },
  {
    ...FOOD.placeholder,
    ...getStandSize("3x6"),
    polygon: rotateCords({ x: 0, y: 0 }, getStandPolygon("3x6"), -55),
    pos: { x: units(30), y: units(53) },
  },
  {
    ...FOOD.placeholder,
    ...getStandSize("8x4"),
    pos: { x: units(32), y: units(51.5) },
  },
  ...calculateColumn(
    [
      {
        ...FOOD.placeholder,
        ...getStandSize("3x6"),
        pos: { x: units(42), y: units(56) },
      },
      {
        ...FOOD.placeholder,
        ...getStandSize("3x6"),
      },
    ],
    "up",
  ),
  // Stages
  {
    ...STAGES.mainStage,
    width: 280,
    height: 250,
    pos: { x: 1300, y: 1310 },
  },
  {
    ...STAGES.eSportStage,
    width: 280,
    height: 190,
    pos: { x: 1300, y: 1600 },
  },
  // Toilets and showers
  // toilets - top
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("10x6"),
    pos: { x: 1400, y: 1941 },
  },
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("10x6"),
    pos: { x: 1830, y: 1941 },
  },
  // toilets - right
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x10"),
    pos: { x: 3200, y: 1344 },
  },
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x10"),
    pos: { x: 3200, y: 1030 },
  },
  // toilets - left
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x10"),
    pos: { x: 60, y: 1344 },
  },
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x10"),
    pos: { x: 60, y: 1030 },
  },
  // toilets and showers - bottom
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x6"),
    pos: { x: 2156, y: 450 },
    presentation: {
      ...ATTRACTIONS.toilet.presentation,
      stickyLabel: false,
    },
  },
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x6"),
    pos: { x: 850, y: 360 },
    presentation: {
      ...ATTRACTIONS.toilet.presentation,
      stickyLabel: false,
    },
  },
  {
    ...ATTRACTIONS.showers,
    ...getStandSize("60x6"),
    pos: { x: 1150, y: 490 },
  },
  // Security and medic
  {
    ...ATTRACTIONS.security,
    ...getStandSize("10x6"),
    pos: { x: 2306, y: 550 },
  },
  {
    ...ATTRACTIONS.medic,
    ...getStandSize("10x6"),
    pos: { x: 883, y: 500 },
  },
  // Seating and sleeping sectors
  ...calculateRow(
    [
      {
        ...ATTRACTIONS.sektor,
        name: "Sektor",
        ...getStandSize("29x30"),
        pos: { x: units(110), y: units(82) },
      },
      {
        ...ATTRACTIONS.sektor,
        name: "Sektor",
        ...getStandSize("10x20"),
      },
    ],
    "right",
    units(3),
  ),
  ...calculateRow(
    [
      {
        ...ATTRACTIONS.sektor,
        name: "Sektor",
        ...getStandSize("25x30"),
        pos: { x: units(82), y: units(47) },
      },
      {
        ...ATTRACTIONS.sektor,
        name: "Sektor",
        ...getStandSize("29x30"),
      },
      {
        ...ATTRACTIONS.sleepingArea,
        name: "Sektor",
        ...getStandSize("10x30"),
      },
      {
        ...ATTRACTIONS.sleepingArea,
        ...getStandSize("20x30"),
        margin: units(12),
      },
    ],
    "right",
    units(3),
  ),
  {
    ...ATTRACTIONS.crewArea,
    ...getStandSize("16x6"),
    pos: { x: units(166), y: units(107) },
  },
].map((item, index) => ({
  ...item,
  slug: (item as MapItem)?.slug || `${slugifyMapItemName(item.name)}-${index}`,
}));

const isItemOfTypes = (item: MapItem, types: string | string[]) =>
  (Array.isArray(types) ? types : [types]).includes(
    item.presentation?.type || "",
  );

function getIsItemOfTypes(types: string | string[]) {
  return (item: MapItem) => isItemOfTypes(item, types);
}

const sortByName = (a: MapItem, b: MapItem) => a.name.localeCompare(b.name);
const sortByType = (a: MapItem, b: MapItem) => {
  return (a.presentation?.type || "unknown").localeCompare(
    b.presentation?.type || "unknown",
  );
};

const showInMenus = (item: MapItem) => item.presentation?.showInNavigation;

const nav = [
  {
    title: "Scener",
    items: LOCATIONS.filter(showInMenus)
      .filter(getIsItemOfTypes("stage"))
      .sort(sortByName),
  },
  {
    title: "Praktisk",
    items: LOCATIONS.filter(showInMenus)
      .filter(getIsItemOfTypes(["attraction", "hygiene"]))
      .sort(sortByName)
      .sort(sortByType),
  },
  {
    title: "Utstillere",
    items: LOCATIONS.filter(getIsItemOfTypes(["stand", "food"]))
      .sort(sortByName)
      .sort(sortByType),
  },
].filter(({ items }) => items.length > 0);
---

<Layout title="The Gathering - Hallkart" footerVariant="hidden">
  <TgMap locations={LOCATIONS}>
    <Fragment slot="nav">
      {
        nav.map(({ title, items }) => (
          <>
            <H3 class="mb-4">{title}</H3>
            <ul class="flex flex-row flex-wrap text-md font-bold text-white gap-2 mb-6">
              {items.map((item) => (
                <li>
                  <TgMapNavItem
                    mapItem={item}
                    color={TYPE_COLORS[item.presentation?.type || "unknown"]}
                  />
                </li>
              ))}
            </ul>
          </>
        ))
      }
    </Fragment>
  </TgMap>
</Layout>
