---
import "leaflet/dist/leaflet.css";
import {
  calculateRow,
  calculateColumn,
  getStandSize,
  stringToSize,
  rotateCords,
  getStandPolygon,
  slugifyMapItemName,
} from "../../utils/map";
import TgMap from "../../components/map/TgMap.astro";
import type { MapItem, PartialMapItem } from "../../types";
import Layout from "../../layouts/Layout.astro";
import TgMapNavItem from "../../components/map/TgMapNavItem.astro";
import H3 from "../../components/H3.astro";

type MapItemBase = Pick<PartialMapItem, "name"> &
  Partial<Omit<PartialMapItem, "name">>;

type LocationMap = Record<string, MapItemBase>;

const TYPE_COLORS = {
  attraction: "purple",
  hygiene: "green",
  food: "red",
  stand: "blue",
  stage: "orange",
  unknown: "gray",
  placeholder: "gray",
};

const STANDS = {
  amberTattoo: {
    name: "Amber Tattoo",
    presentation: {
      type: "stand",
    },
  },
  eHeroic: {
    name: "Heroic",
    presentation: {
      type: "stand",
    },
  },
  eNidaros: {
    name: "Nidaros",
    presentation: {
      type: "stand",
    },
  },
  eHamar: {
    name: "Hamar",
    presentation: {
      type: "stand",
    },
  },
  eUiaKraken: {
    name: "UiA Kraken",
    presentation: {
      type: "stand",
    },
  },
  eEinHerjar: {
    name: "Einherjar",
    presentation: {
      type: "stand",
    },
  },
  eDMG: {
    name: "DMG",
    presentation: {
      type: "stand",
    },
  },
  kia: {
    icon: "/tg25/sponsors/kia_white.svg",
    name: "Kia",
    presentation: {
      type: "stand",
    },
  },
  nettpatruljen: {
    name: "Nettpatruljen",
    presentation: {
      type: "stand",
    },
  },
  bjerkely: {
    name: "Bjerkely",
    presentation: {
      type: "stand",
    },
  },
  smashNorge: {
    name: "Smash Norge",
    presentation: {
      type: "stand",
    },
  },
  voldaEsport: {
    name: "Volda E-Sport",
    presentation: {
      type: "stand",
      labelWidth: 8,
    },
  },
  biblogames: {
    name: "Biblogames",
    presentation: {
      type: "stand",
    },
  },
  hellRobotics: {
    name: "Hell Robotics",
    presentation: {
      type: "stand",
    },
  },
  telenor: {
    icon: "/tg25/sponsors/telenor.svg",
    name: "Telenor",
    presentation: {
      type: "stand",
      //showPopup: true,
    },
  },
  hamarKommune: {
    name: "Hamar Kommune",
    presentation: {
      type: "stand",
    },
  },
  ncl: {
    name: "NCL",
    presentation: {
      type: "stand",
    },
  },
  lundheim: {
    name: "Lundheim",
    presentation: {
      type: "stand",
    },
  },
  nordmore: {
    name: "Nordmøre",
    presentation: {
      type: "placeholder",
    },
  },
  trust: {
    name: "Trust",
    presentation: {
      type: "stand",
    },
  },
  riotGames: {
    icon: "/tg25/sponsors/riot_white.svg",
    name: "Riot Games",
    presentation: {
      type: "stand",
    },
  },
  tech: {
    name: "Arena:Tech",
    presentation: {
      type: "stand",
    },
  },
  nlogic: {
    icon: "/tg25/sponsors/nlogic.svg",
    name: "nLogic",
    presentation: {
      type: "stand",
    },
  },
  metalheads: {
    name: "Metalheads",
    presentation: {
      type: "stand",
    },
  },
  dicetrolls: {
    name: "Dicetrolls",
    presentation: {
      type: "stand",
    },
  },
  ungNo: {
    name: "ung.no",
    presentation: {
      type: "stand",
    },
  },
  kred: {
    name: "KRED",
    presentation: {
      type: "stand",
    },
  },
  tineMRiis: {
    name: "Tine M. Riis",
    presentation: {
      type: "stand",
    },
  },
  spillexpo: {
    name: "Spillexpo",
    presentation: {
      type: "stand",
    },
  },
  hado: {
    name: "HADO",
    presentation: {
      type: "stand",
    },
  },
  outland: {
    name: "Outland",
    presentation: {
      type: "stand",
    },
  },
  ntnu: {
    name: "NTNU",
    presentation: {
      type: "stand",
    },
  },
  torst: {
    name: "Tørst",
    presentation: {
      type: "stand",
    },
  },
  kandu: {
    icon: "/tg25/sponsors/kandu.svg",
    name: "KANDU",
    presentation: {
      type: "stand",
    },
  },
  nexthop: {
    icon: "/tg25/sponsors/nexthop.svg",
    name: "NextHop",
    presentation: {
      type: "stand",
    },
  },
  placeholder: {
    name: "Placeholder",
    presentation: {
      type: "placeholder",
    },
  },
} as const satisfies LocationMap;

const FOOD = {
  monkys: {
    name: "Monky's",
    presentation: {
      type: "food",
    },
  },
  gordita: {
    name: "Gordita",
    presentation: {
      type: "food",
    },
  },
  pizzabakeren: {
    name: "Pizzabakeren",
    presentation: {
      type: "food",
    },
  },
  waffleFactory: {
    name: "Waffle Factory",
    presentation: {
      type: "food",
    },
  },
} as const satisfies LocationMap;

const ATTRACTIONS = {
  streamerLounge: {
    name: "Studio and production area",
    presentation: {
      type: "unknown",
    },
  },
  streamers: {
    name: "Streamers",
    presentation: {
      type: "stand",
      showInNavigation: true,
    },
  },
  chillout: {
    name: "Lounge",
    icon: "https://www.tg.no/tg25/tg25_icon_white.svg",
    presentation: {
      type: "stage",
      showInNavigation: true,
      showPopup: true,
      mapIcon: true,
      calendarQuery: ["lounge"],
      padding: 40,
    },
  },
  tgHack: {
    name: "TG:Hack",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  compoInfo: {
    name: "Creative og Game infodesk",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  tgShop: {
    name: "TG Shop",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  infodesk: {
    name: "Infodesk",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  reception: {
    name: "Resepsjon",
    presentation: {
      type: "attraction",
      showInNavigation: true,
      stickyLabel: true,
    },
  },
  support: {
    name: "Techsupport",
    presentation: {
      type: "attraction",
      showInNavigation: true,
    },
  },
  toilet: {
    name: "Toaletter",
    presentation: {
      type: "hygiene",
      stickyLabel: true,
    },
  },
  showers: {
    name: "Dusjer",
    presentation: {
      type: "hygiene",
      showInNavigation: true,
    },
  },
  sektor: {
    name: "sektor",
    presentation: {
      type: "attraction",
      showInNavigation: true,
      stickyLabel: true,
    },
  },
  sleepingArea: {
    name: "Soveområde",
    presentation: {
      type: "attraction",
      showInNavigation: true,
      stickyLabel: true,
    },
  },
  crewArea: {
    name: "Crewområde",
    presentation: {
      type: "placeholder",
      showPopup: true,
      popupText: "kode_applyfortg26crewplz",
    },
  },
  security: {
    name: "Sikkerhet",
    presentation: {
      type: "attraction",
      showInNavigation: true,
      stickyLabel: true,
    },
  },
  medic: {
    name: "Medic",
    presentation: {
      type: "attraction",
      showInNavigation: true,
      stickyLabel: true,
    },
  },
} as const satisfies LocationMap;

const STAGES = {
  mainStage: {
    icon: "https://www.tg.no/tg25/tg25_icon_white.svg",
    name: "Hovedscenen",
    presentation: {
      type: "stage",
      showInNavigation: true,
      showPopup: true,
      mapIcon: true,
      calendarQuery: ["hovedscenen"],
      padding: 40,
    },
  },
  eSportStage: {
    icon: "https://www.tg.no/tg25/tg25_icon_white.svg",
    name: "Esportscenen",
    presentation: {
      type: "stage",
      showInNavigation: true,
      showPopup: true,
      mapIcon: true,
      calendarQuery: ["esportscenen"],
      padding: 40,
    },
  },
  creativiaStage: {
    icon: "https://www.tg.no/tg25/tg25_icon_white.svg",
    name: "Kreativiascenen",
    presentation: {
      type: "stage",
      showInNavigation: true,
      showPopup: true,
      mapIcon: true,
      calendarQuery: ["kreativiascenen"],
      padding: 40,
    },
  },
} as const satisfies LocationMap;

const SIZES = {
  small: getStandSize("3x3"),
  medium: getStandSize("6x6"),
  long: getStandSize("6x3"),
  longVertical: getStandSize("3x6"),
  superlongVertical: getStandSize("3x9"),
} as const satisfies Record<string, { width: number; height: number }>;

const LOCATIONS: MapItem[] = [
  // Expo outer curve
  {
    ...STANDS.amberTattoo,
    ...SIZES.longVertical,
    pos: { x: 269, y: 1154 },
  },
  ...[
    {
      ...STANDS.eHeroic,
      ...SIZES.longVertical,
      pos: { x: 268, y: 1298 },
    },
    {
      ...STANDS.eNidaros,
      ...SIZES.longVertical,
      pos: { x: 270, y: 1398 },
    },
    {
      ...STANDS.eHamar,
      ...SIZES.longVertical,
      pos: { x: 294.5, y: 1499 },
    },
    {
      ...STANDS.eUiaKraken,
      ...SIZES.longVertical,
      pos: { x: 340.5, y: 1591.5 },
    },
    {
      ...STANDS.eEinHerjar,
      ...SIZES.longVertical,
      pos: { x: 405, y: 1674 },
    },
    {
      ...STANDS.eDMG,
      ...SIZES.longVertical,
      pos: { x: 485, y: 1742 },
    },
  ].map((item, index) => {
    const polygon = getStandPolygon("3x6");

    return {
      ...item,
      polygon: rotateCords(polygon[0], polygon, 12 * index),
    };
  }),
  {
    ...STANDS.kia,
    ...SIZES.long,
    pos: { x: 485 + stringToSize("8"), y: 1742 + stringToSize("1") },
  },

  // Top left expo cluster
  ...calculateRow([
    {
      ...STANDS.lundheim,
      ...SIZES.small,
      pos: { x: 576.3, y: 1644.3 },
    },
    {
      ...STANDS.voldaEsport,
      ...SIZES.small,
    },
    {
      ...STANDS.nordmore,
      ...SIZES.small,
    },
  ]),
  ...calculateRow([
    {
      ...STANDS.ncl,
      ...SIZES.small,
      pos: { x: 576.3, y: 1597.3 },
    },
    {
      ...STANDS.eNidaros,
      ...SIZES.small,
    },
    {
      ...STANDS.trust,
      ...SIZES.small,
    },
  ]),
  // Leftmost expo cluster
  ...calculateColumn([
    {
      ...STANDS.smashNorge,
      ...getStandSize("3x5"),
      pos: { x: 376.3, y: 1394.3 },
    },
    {
      ...STANDS.bjerkely,
      ...getStandSize("3x5"),
    },
    {
      ...STANDS.nettpatruljen,
      ...getStandSize("6x4"),
    },
  ]),
  ...calculateColumn([
    {
      ...STANDS.torst,
      ...SIZES.small,
      pos: { x: 376.3 + stringToSize("3"), y: 1394.3 + stringToSize("2") },
    },
    {
      ...STANDS.ntnu,
      ...getStandSize("3x7"),
    },
  ]),
  // Center big stands expo cluster
  ...calculateColumn([
    {
      ...STANDS.hamarKommune,
      ...getStandSize("13x6"),
      pos: { x: 526.3, y: 1450.0 },
    },
    {
      ...STANDS.hellRobotics,
      ...getStandSize("6x12"),
    },
    ...calculateRow([
      {
        ...STANDS.biblogames,
        ...SIZES.long,
        pos: { x: 526.3, y: 1450.0 - stringToSize("15") },
      },
      {
        ...STANDS.telenor,
        ...getStandSize("7x15"),
      },
    ]),
  ]),
  // Rightmost expo cluster
  ...calculateColumn([
    ...calculateRow([
      {
        ...STANDS.kred,
        ...SIZES.long,
        pos: { x: 826.3, y: 1530.0 },
      },
      {
        ...STANDS.tineMRiis,
        ...SIZES.long,
      },
    ]),
    {
      ...STANDS.ungNo,
      ...SIZES.small,
      pos: { x: 826.3, y: 1530.0 - stringToSize("3") },
    },
    {
      ...STANDS.dicetrolls,
      ...SIZES.small,
    },
    ...calculateRow([
      {
        ...STANDS.metalheads,
        ...SIZES.longVertical,
        pos: { x: 826.3, y: 1530.0 - stringToSize("12") },
      },
      {
        ...STANDS.spillexpo,
        ...getStandSize("9x12"),
      },
    ]),
    ...calculateRow([
      {
        ...STANDS.riotGames,
        ...SIZES.long,
        pos: { x: 826.3, y: 1530.0 - stringToSize("15") },
      },
      {
        ...STANDS.tech,
        ...SIZES.long,
      },
    ]),
  ]),
  // Streamer cluster
  ...calculateColumn([
    {
      ...ATTRACTIONS.streamerLounge,
      ...getStandSize("10x10"),
      pos: { x: 786.3, y: 1680.0 },
    },
    {
      ...ATTRACTIONS.streamers,
      ...getStandSize("10x3"),
    },
  ]),
  // Right of Streamer cluster
  {
    ...STANDS.hado,
    ...getStandSize("9x6"),
    pos: { x: 786.3 + stringToSize("10"), y: 1680.0 + stringToSize("2") },
    presentation: {
      ...STANDS.hado.presentation,
      labelWidth: 4,
    },
  },
  // TG Shop cluster, lower left above reception
  {
    ...ATTRACTIONS.support,
    ...getStandSize("5x5"),
    pos: { x: 694, y: 736 + stringToSize("14") },
    presentation: {
      ...ATTRACTIONS.support.presentation,
      labelWidth: 7,
    },
  },
  {
    ...ATTRACTIONS.infodesk,
    ...getStandSize("5x5"),
    pos: { x: 694 + stringToSize("7"), y: 736 + stringToSize("14") },
  },
  {
    ...ATTRACTIONS.tgShop,
    ...getStandSize("12x12"),
    pos: { x: 694, y: 736 },
  },
  {
    ...ATTRACTIONS.reception,
    ...getStandSize("6x8"),
    pos: { x: 850, y: 206 },
  },
  // Left stage (stage right) cluster
  ...calculateRow([
    {
      ...ATTRACTIONS.chillout,
      ...getStandSize("10x18"),
      pos: { x: 1056.3, y: 1420.0 },
    },
  ]),
  ...calculateRow([
    {
      ...STANDS.outland,
      ...getStandSize("10x6"),
      pos: { x: 1056.3, y: 1420.0 - stringToSize("6") },
    },
  ]),
  // Creativia cluster right of stage (stage left)
  ...calculateColumn([
    {
      ...STAGES.creativiaStage,
      ...getStandSize("9x12"),
      pos: { x: 2070, y: 1640 },
    },
    {
      ...ATTRACTIONS.tgHack,
      ...getStandSize("9x6"),
    },
    {
      ...ATTRACTIONS.compoInfo,
      ...getStandSize("9x12"),
      presentation: {
        ...ATTRACTIONS.compoInfo.presentation,
        labelWidth: 13,
      },
    },
  ]),
  // Food cluster
  {
    ...FOOD.monkys,
    ...SIZES.small,
    polygon: rotateCords({ x: 0, y: 0 }, getStandPolygon("3x3"), -20),
    pos: { x: 365 - 50, y: 935 },
  },
  {
    ...FOOD.gordita,
    ...getStandSize("3x6"),
    polygon: rotateCords({ x: 0, y: 0 }, getStandPolygon("3x6"), -45),
    pos: { x: 455 - 50, y: 840 },
  },
  {
    ...FOOD.pizzabakeren,
    ...getStandSize("8x4"),
    pos: { x: 489 - 50, y: 801 },
  },
  {
    ...FOOD.waffleFactory,
    ...getStandSize("3x6"),
    pos: { x: 615.25 - 50, y: 863.75 },
  },
  // Stages
  {
    ...STAGES.mainStage,
    width: 280,
    height: 250,
    pos: { x: 1300, y: 1310 },
  },
  {
    ...STAGES.eSportStage,
    width: 280,
    height: 190,
    pos: { x: 1300, y: 1600 },
  },
  // Toilets and showers
  // toilets - top
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("10x6"),
    pos: { x: 1400, y: 1941 },
  },
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("10x6"),
    pos: { x: 1830, y: 1941 },
  },
  // toilets - right
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x10"),
    pos: { x: 3200, y: 1344 },
  },
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x10"),
    pos: { x: 3200, y: 1030 },
  },
  // toilets - left
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x10"),
    pos: { x: 60, y: 1344 },
  },
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x10"),
    pos: { x: 60, y: 1030 },
  },
  // toilets and showers - bottom
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x6"),
    pos: { x: 2156, y: 450 },
    presentation: {
      ...ATTRACTIONS.toilet.presentation,
      stickyLabel: false,
    },
  },
  {
    ...ATTRACTIONS.toilet,
    ...getStandSize("6x6"),
    pos: { x: 850, y: 360 },
    presentation: {
      ...ATTRACTIONS.toilet.presentation,
      stickyLabel: false,
    },
  },
  {
    ...ATTRACTIONS.showers,
    ...getStandSize("60x6"),
    pos: { x: 1150, y: 490 },
  },
  // Security and medic
  {
    ...ATTRACTIONS.security,
    ...getStandSize("10x6"),
    pos: { x: 2306, y: 550 },
  },
  {
    ...ATTRACTIONS.medic,
    ...getStandSize("10x6"),
    pos: { x: 883, y: 500 },
  },
  // Seating and sleeping sectors
  {
    ...ATTRACTIONS.sektor,
    name: "Sektor 3",
    ...getStandSize("16x30"),
    pos: { x: 920, y: 735 },
  },
  {
    ...ATTRACTIONS.sektor,
    name: "Sektor 2",
    ...getStandSize("30x30"),
    pos: { x: 920 + stringToSize("18"), y: 735 },
  },
  {
    ...ATTRACTIONS.sektor,
    name: "Sektor 4 - Stillesone",
    ...getStandSize("30x30"),
    pos: { x: 920 + stringToSize("50"), y: 735 },
    presentation: {
      ...ATTRACTIONS.sektor.presentation,
      labelWidth: 10,
    },
  },
  {
    ...ATTRACTIONS.sleepingArea,
    ...getStandSize("40x30"),
    pos: { x: 920 + stringToSize("90"), y: 735 },
  },
  {
    ...ATTRACTIONS.sektor,
    name: "Sektor 1",
    ...getStandSize("16x30"),
    pos: { x: 1776, y: 1330 },
  },
  {
    ...ATTRACTIONS.crewArea,
    ...getStandSize("40x30"),
    pos: { x: 920 + stringToSize("90"), y: 735 + stringToSize("35") },
  },
].map((item, index) => ({
  ...item,
  slug: (item as MapItem)?.slug || `${slugifyMapItemName(item.name)}-${index}`,
}));

const isItemOfTypes = (item: MapItem, types: string | string[]) =>
  (Array.isArray(types) ? types : [types]).includes(
    item.presentation?.type || "",
  );

function getIsItemOfTypes(types: string | string[]) {
  return (item: MapItem) => isItemOfTypes(item, types);
}

const sortByName = (a: MapItem, b: MapItem) => a.name.localeCompare(b.name);
const sortByType = (a: MapItem, b: MapItem) => {
  return (a.presentation?.type || "unknown").localeCompare(
    b.presentation?.type || "unknown",
  );
};

const showInMenus = (item: MapItem) => item.presentation?.showInNavigation;

const nav = [
  {
    title: "Scener",
    items: LOCATIONS.filter(showInMenus)
      .filter(getIsItemOfTypes("stage"))
      .sort(sortByName),
  },
  {
    title: "Praktisk",
    items: LOCATIONS.filter(showInMenus)
      .filter(getIsItemOfTypes(["attraction", "hygiene"]))
      .sort(sortByName)
      .sort(sortByType),
  },
  {
    title: "Utstillere",
    items: LOCATIONS.filter(getIsItemOfTypes(["stand", "food"]))
      .sort(sortByName)
      .sort(sortByType),
  },
].filter(({ items }) => items.length > 0);
---

<Layout title="The Gathering - Hallkart" footerVariant="hidden">
  <TgMap locations={LOCATIONS}>
    <Fragment slot="nav">
      {
        nav.map(({ title, items }) => (
          <>
            <H3 class="mb-4">{title}</H3>
            <ul class="flex flex-row flex-wrap text-md font-bold text-white gap-2 mb-6">
              {items.map((item) => (
                <li>
                  <TgMapNavItem
                    mapItem={item}
                    color={TYPE_COLORS[item.presentation?.type || "unknown"]}
                  />
                </li>
              ))}
            </ul>
          </>
        ))
      }
    </Fragment>
  </TgMap>
</Layout>
