---
export interface Props {
  timespan?: string;
  name: string;
  price?:
    | number
    | {
        child: number;
        adult: number;
      };
  seatless?: boolean;
  kanduless?: boolean;
  variant?: "pending" | "standard" | "seatless" | "product";
  class?: string;
}

const {
  timespan,
  name,
  price,
  seatless = false,
  kanduless = false,
  variant,
  class: className = "",
} = Astro.props;

const formatPrice = (price: number | undefined) =>
  price
    ? new Intl.NumberFormat("nb-NO", {
        style: "currency",
        currency: "NOK",
        maximumFractionDigits: 0,
      }).format(price)
    : "";

const prices = {
  adult: formatPrice(typeof price === "number" ? price : price?.adult),
  child: formatPrice(typeof price === "object" ? price?.child : undefined),
};

const STYLES = {
  pending:
    "bg-foreground-contrast text-foreground prose-headings:text-foreground prose-strong:text-foreground",
  standard:
    "bg-foreground shadow-lg text-foreground-contrast prose-headings:text-foreground-contrast prose-strong:text-foreground-contrast",
  seatless:
    "bg-sky-200 shadow-lg text-black prose-headings:text-black prose-strong:text-black",
  product:
    "bg-foreground shadow-lg text-foreground-contrast prose-headings:text-foreground-contrast prose-strong:text-foreground-contrast",
};

const style =
  (variant && STYLES[variant]) ||
  (seatless ? STYLES.seatless : price ? STYLES.standard : STYLES.pending);

const boxStyles = `p-6 rounded-3xl sm:mx-auto sm:rounded-2xl ${style} prose relative ${className}`;
---

<div class={boxStyles}>
  <h4 class="text-2xl">{name}</h4>
  {
    prices.adult ? (
      <div class="flex items-baseline gap-x-2">
        <h5 class="text-xl">{prices.adult}</h5>
        {prices.child ? <h6 class="text-xs">Voksen</h6> : null}
      </div>
    ) : null
  }
  {
    prices.child ? (
      <div class="flex items-baseline gap-x-2">
        <h5 class="text-xl">{prices.child}</h5>
        <h6 class="text-xs">Barn (under 16 år)</h6>
      </div>
    ) : null
  }
  <slot name="features">
    <ul
      class="text-xs list-none bg-black/15 rounded-md p-4 prose-a:text-inherit"
    >
      <li>
        {
          seatless
            ? "Ingen sitteplass inkludert"
            : "Inkludert sitteplass på på 120 cm"
        }
      </li>
      <li>
        {timespan ? `Gir tilgang ${timespan}` : null}
      </li>
      {kanduless ? null : <li>Inkludert medlemskap i KANDU</li>}
      <slot name="additional-features" />
    </ul>
  </slot>
  <slot />
</div>
