---
import Hero from "./Hero.astro";
import Button from "../Button.astro";
import { fetchInfoPageByPath } from "../../utils";

interface Props {
  class?: string;
}

const { class: classNames } = Astro.props;
const path = "/practical/alt-om-innsjekk-og-ankomst-til-tg25/";

const page = await fetchInfoPageByPath({
  path,
  apiUrl: import.meta.env.API_URL,
});

const { intro, main_image, title, body, meta } = page || {};
---

{
  page ? (
    <Hero
      image={main_image?.sizes.large.url || "/images/tg19-lights.jpg"}
      class={`${classNames} min-h-[30vh] sm:min-h-[600px]`}
    >
      <div class="flex flex-col text-left">
        <div class="w-full p-2">
          <h2 class="text-4xl font-bold text-pretty mb-2">{title}</h2>
          {intro ? (
            <p class="text-lg font-normal text-pretty">{intro}</p>
          ) : (
            <p>{body}</p>
          )}
        </div>
        <aside class="mt-6 space-x-2">
          {meta?.url ? (
            <Button href={meta.url} theme="orange">
              Få full oversikt
            </Button>
          ) : null}
        </aside>
      </div>
      <Fragment slot="cta">
        <p class="text-white">Besøke oss i påsken?</p>
        <Button href="https://www.geekevents.org/tg25/#/shop" theme="secondary">
          Kjøp dagsbillett
        </Button>
      </Fragment>
    </Hero>
  ) : null
}
