---
type Theme = "orange" | "blue" | "secondary" | "white";
type Variant = "normal" | "standalone" | "wide";
interface Props {
  href: string;
  theme?: Theme;
  variant?: Variant;
  class?: string;
}

const THEMES: Record<Theme, string> = {
  orange:
    "border text-white bg-orange-600 border-orange-600 hover:bg-orange-700",
  blue: "border text-white bg-sky-600 border-sky-600 hover:bg-sky-500",
  secondary:
    "border text-foreground bg-transparent border-foreground hover:bg-foreground/20",
  white: "border text-black bg-white border-white hover:bg-neutral-200",
};
const VARIANTS: Record<Variant, string> = {
  normal: "inline-block px-4 py-2 rounded-full text-xs font-bold",
  standalone: "inline-block p-6 rounded-3xl text-md",
  wide: "block px-4 py-2 rounded-full content-center text-center",
};

const { href, theme = "orange", class: classNames = "" } = Astro.props;
const isRelative = href.startsWith("/");
const target = isRelative ? "_self" : "_blank";
const colorStyles = THEMES[theme || "orange"] || THEMES.orange;
const variantStyles =
  VARIANTS[Astro.props.variant || "normal"] || VARIANTS.normal;
---

<a
  href={href}
  class={`content-center not-prose ${colorStyles} ${variantStyles} ${classNames}`}
  target={target}
>
  <slot />
</a>
