---
import H2 from "./H2.astro";
import { fetchArticles } from "../utils";
import type { FetchArticlesProps } from "../utils";

type Props = {} & Omit<FetchArticlesProps, "api_url">;

const articles = await fetchArticles({
  ...Astro.props,
  api_url: import.meta.env.API_URL,
});
---

<section>
  <H2 text="News >_" />
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 sm:px-44">
    {
      articles.map((article) => (
        <a href={`/news/${article.meta.slug}`}>
          <article class="overflow-hidden flex flex-row p-4">
            <div class="flex-1">
              <div class="text-sm text-orange-500">
                {article.tags
                  .map((tag) => {
                    return tag.name.charAt(0).toUpperCase() + tag.name.slice(1);
                  })
                  .join(", ")}
              </div>
              <h3 class="text-xl text-white font-bold mt-2">{article.title}</h3>
              <time
                datetime={article.meta.first_published_at}
                class="text-sm text-gray-500">
                {new Date(article.meta.first_published_at).toLocaleDateString(
                  "en-US",
                  {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  }
                )}
              </time>
            </div>
            {article.main_image && (
              <img
                src={article.main_image.sizes.thumbnail.url}
                alt={article.main_image.alt}
                class="w-24 h-24 object-cover ml-2 rounded-lg"
              />
            )}
          </article>
        </a>
      ))
    }
  </div>
</section>
