---
import type { Article } from "../types";

type Props = { articles: Article[] };

const { articles } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 gap-x-5 lg:px-28 mb-10">
  {
    articles.map((article) => (
      <a href={`/news/${article.meta.slug}`}>
        <article class="overflow-hidden flex flex-row p-4">
          <div class="flex-1">
            <div class="text-sm text-orange-500">
              {article.tags
                .map((tag) => {
                  return tag.name.charAt(0).toUpperCase() + tag.name.slice(1);
                })
                .join(", ")}
            </div>
            <h3 class="text-xl text-white font-bold mt-2">{article.title}</h3>
            <time
              datetime={article.meta.first_published_at}
              class="text-sm text-gray-500"
            >
              {new Date(article.meta.first_published_at).toLocaleDateString(
                "en-US",
                {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                },
              )}
            </time>
          </div>
          {article.main_image && (
            <img
              src={article.main_image.sizes.thumbnail.url}
              alt={article.main_image.alt}
              class="w-24 h-24 object-cover ml-4 rounded-lg"
            />
          )}
        </article>
      </a>
    ))
  }
</div>
