---
import  H2 from './H2.astro';
interface Article {
  id: number;
  title: string;
  category: string;
  date: string;
  thumbnail: {
    url: string;
  };
}

const articleTest = [
  {
    id: 1,
    title: 'The calm before the LAN',
    category: 'Behind the scenes',
    date: '2022-04-13',
    thumbnail: {
      url: '/images/tg23-oversikt.jpg',
    },
  },
  {
    id: 2,
    title: 'Achivements return',
    category: 'Activities, Achievements',
    date: '2021-04-13',
    thumbnail: {
      url: '/images/tg23-oversikt.jpg',
    },
  },
  {
    id: 3,
    title: 'Arne?',
    category: 'Arne??',
    date: '2020-04-13',
    thumbnail: {
      url: '/images/tg23-oversikt.jpg',
    },
  },
  {
    id: 4,
    title: "New wallpaper for this year's theme",
    category: 'Behind the scenes, Creative',
    date: '2019-04-13',
    thumbnail: {
      url: '/images/tg23-oversikt.jpg',
    },
  },
  ]

const fetchArticles = async (): Promise<Article[]> => {
  // const response = await fetch('https://your-wagtail-site.com/api/v2/pages/?type=yourapp.ArticlePage&fields=title,category,date,thumbnail&order=-date&limit=4');
  // const data = await response.json();
  // return data.items;
  return articleTest;
}

const articles = await fetchArticles();
---

<section>
  <H2 text="News >_" />
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 sm:px-44">
      {articles.map(article => (
        <a href="#">
          <article class="overflow-hidden flex flex-row p-4">
            <div class="flex-1">
              <span class="text-sm text-orange-500">{article.category}</span>
              <h3 class="text-xl text-white font-bold mt-2">{article.title}</h3>
              <time datetime={article.date} class="text-sm text-gray-500">{new Date(article.date).toLocaleDateString()}</time>
            </div>
            <img src={article.thumbnail.url} alt={article.title} class="w-24 h-24 object-cover ml-2 rounded-lg" />
          </article>
        </a>
      ))}
    </div>
</section>
