---
import Header from "../components/Header.astro";
import Sponsors from "../components/Sponsors.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description?: string;
  image?: string;
  lang?: string;
  seo_title?: string;
  search_description?: string;
  introText?: string;
  type?: string;
}

const {
  title,
  seo_title,
  search_description,
  introText,
  type = "website",
  lang = "no",
  image = "/images/tg.jpg",
  description = "We have hosted The Gathering since 1992 and it has always been a hub for young creative people to battle it out in many types of competitions; demo-coding, music, graphics, animation, and gaming.",
} = Astro.props;

const finalTitle = seo_title || title;
const finalDescription = search_description || introText || description;

const matomoSiteId = import.meta.env.MATOMO_SITE_ID;
const matomoInstanceUrl =
  import.meta.env.MATOMO_INSTANCE_URL || "//matomo.gathering.org/";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={finalDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content={Astro.request.url} />

    <meta property="og:type" content={type} />
    <meta property="og:title" content={finalTitle} />
    <meta property="og:description" content={finalDescription} />
    <meta property="og:image" content={image} />
    <meta property="twitter:title" content={finalTitle} />
    <meta property="twitter:description" content={finalDescription} />
    <meta property="twitter:image" content={image} />
    <meta property="twitter:card" content="summary_large_image" />

    <title>{title}</title>

    <!-- Matomo -->
    <script is:inline define:vars={{ matomoInstanceUrl, matomoSiteId }}>
      if (!matomoSiteId || !matomoInstanceUrl) {
        // Doing this instead of conditional script tag to avoid (wrong) prettier syntax errors
        return;
      }
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["disableCookies"]);
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function () {
        _paq.push(["setTrackerUrl", matomoInstanceUrl + "matomo.php"]);
        _paq.push(["setSiteId", matomoSiteId]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = matomoInstanceUrl + "matomo.js";
        if (s.parentNode) {
          s.parentNode.insertBefore(g, s);
        }
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body class="min-h-screen bg-background sm:flex sm:flex-col">
    <Header />
    <slot />
    <Sponsors />
    <Footer />
  </body>
</html>
